<p style="color: green"><%= notice %></p>

<% content_for :title, "Projects" %>

<h1>Projects</h1>

<div id="projects">
  <% @projects.each_slice(3) do |projects| %>
    <div class="grid">
      <%= render projects %>
    </div>
  <% end %>
</div>

<%= link_to "New project", new_project_path %>
