<div class="header">
  <nav class="container">
    <ul>
      <li><strong><%= link_to 'Degoić', root_path %></strong></li>
    </ul>
    <ul>
      <li><%= link_to 'Projects', projects_path %></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
    </ul>
  </nav>
</div>
